@import "variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/point.css";
@import "./components/icon-row.css";
@import "./components/alt-screen-header.css";
@import "./components/no-mobile.css";

/* Screen */
@import "./screen/login.css";
@import "./screen/friend.css";
@import "./screen/find.css";
@import "./screen/more.css";
@import "./screen/settings.css";
@import "./screen/chat.css";

body {
  font-family: Arial, sans-serif;
  color: #2e363e;
}

input:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-screen {
  padding: 0 var(--horizental-space);
  
}

.screen-header__icons span {
  position: relative;
}

.open-chat {
  height: 60vh;
}