#no-mobile {
    position: absolute;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 32px;
}

.find-no__mobile {
    position: absolute;
    z-index: 9999;
    height: 150vh;
    width: 100vw;
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 32px; 
}

@media screen and (max-width:992px) {
    #no-mobile {
        display: none;
    }
    .find-no__mobile{
        display: none;
    }
    
}